.videos_container {
    max-height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 549px;
    border-radius: 15px;
    background-color: black;
    background-color: #0A0A0A;
}

.video {
    height: 100%;
    max-width: 549px;
    border-radius: 15px;
}

.feed {
    transition: transform .3s;
}

.video_wrapper {
    position: relative;
}

.mutedBtn {

}

.pauseBtn {

}

.NextPrevBtns {

}

.mutedBtn, .pauseBtn, .NextPrevBtns {
    position: absolute;
}